Package: com.i0stweak3r.ezcompleteui
Name: EZCompleteUI
Author: i0s_tweak3r
Description: Let's chat gpt and DallE Whisper Sora chit up...with a UI. And memory. And AI agents under the hood optimizing token usage, memory management, and context given for each prompt resulting in a smarter, more helpful chatbot personal assistant. Setup instructions and code on github.com/tweaker177/EZCompleteUI
Depends: firmware (>= 15.0)
Maintainer: i0s_tweak3r <djvs23@gmail.com>
Architecture: iphoneos-arm64
Section: Utilities
Version: 6.2.1